body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

navbar {
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 10;
}

.nav-container {
    margin: 0 auto;
    width: 1300px;
    max-width: 1300px;
    min-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

#logo span {
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    font-weight: bold;
    margin: 0 0.5px;
}

#logo i{
    margin: 0 0.5px;
}

#settings i {
    margin: 0 5px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

#todays-description {
    text-align: center;
    width: 50%;
    margin: 0 20px;
}

#todays-description h1{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: lighter;
}

#todays-description h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: small;
}

#list-container {
    width: 50%;
    margin: 0 20px;
}

#advice {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
    margin: 0 100px;
}